<div class="hero-unit" style="padding-left: 70px;">

	<div id='slideshowHolder'>
		<% @photos.each do |photo| %>
			<%= image_tag(photo.largeurl) %>
		<% end %>	 	
	</div>

</div>

<div class="row">

	<div class="span2">
		<%= link_to image_tag("http://www.adorama.com/artworks2/banners/affil/adorama_2011_125x125.jpg", :class => "thumbnail"), "http://www.adorama.com/?kbid=67100", :target => "_blank" %>
	</div>

	<div class="span2">
		<%= link_to image_tag("http://www.rockler.com/images/affiliates/125-x-125-saw-blade-update.gif", :class => "thumbnail"), "http://www.rockler.com/index.cfm?sid=AFM51", :target => "_blank" %>
	</div>

	<div class="span2">
		<%= link_to image_tag("smug_mug_logo.png", :class => "thumbnail"), "https://secure.smugmug.com/signup.mg?Coupon=JeGhWNBh5bGbA", :target => "_blank" %>	</div>

	<div class="span2">
		<%= link_to image_tag("logo_independentdistributor2010_verticle.jpg", :class => "thumbnail nsslogo", :style => "height: 125px;"), "http://www.naturessunshine.com/?actid=2881095", :target => "_blank" %>
	</div>

	<div class="span2">
		<div class="thumbnail">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-3870257494761218";
		/* barriault.net homepage */
		google_ad_slot = "3791304980";
		google_ad_width = 125;
		google_ad_height = 125;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		</div>
	</div>

	<div class="span2">
		<%= link_to image_tag("http://www.adorama.com/artworks2/banners/affil/AdoramaPix_2010_125_125.gif", :class => "thumbnail"), "http://www.adorama.com/catalog.tpl?op=gotopix&sterm=lab&kbid=67100", :target => "_blank" %>
	</div>

</div>
