<div class="row">
	
	<div class="span9">
		<% if user_signed_in? -%>
		<%= link_to 'New Post', new_post_path, :class => 'btn btn-primary' %><hr />
		<% end -%>

		<% @posts.each do |post| %>
		  <h2>
		    <%= link_to post.title, post %>
				<% if user_signed_in? -%>
		    <%= link_to 'Edit', edit_post_path(post), :class => 'btn' %>
		    <%= link_to 'Destroy', post, :class => 'btn btn-danger', confirm: 'Are you sure?', method: :delete %>
				<% end -%>
			</h2>
		  <p><%= post.content %></p>
		  <div class="alert alert-info"><i class="icon-calendar"></i> <%= post.published_date %></div>
		<% end %>
	</div>
	
	<div class="span3">
		<div>
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="220" height="220"><param name="movie" value="http://cdn.smugmug.com/swfs/badge/flashbadge.swf?useLargeImages=true&nickName=barriault&feedType=popularNickname&BadgeHost=cdn.smugmug.com&albumID=21511473&albumKey=L25jTF&width=220&height=220&gridSpacing=1&gridColumns=4&gridRows=3&background=%23000000&preloaderColor=&preloaderGlow=&gridDelay=2&slideshowDelay=4&order=norandom&forceSize=&showCaptions=false&introMode=fadein&aboutlink=&sharelink=&albums=" /><param name="wmode" value="transparent" /><param name="allowScriptAccess" value="always" /><embed src="http://cdn.smugmug.com/swfs/badge/flashbadge.swf?useLargeImages=true&nickName=barriault&feedType=popularNickname&BadgeHost=cdn.smugmug.com&albumID=21511473&albumKey=L25jTF&width=220&height=220&gridSpacing=1&gridColumns=4&gridRows=3&background=%23000000&preloaderColor=&preloaderGlow=&gridDelay=2&slideshowDelay=4&order=norandom&forceSize=&showCaptions=false&introMode=fadein&aboutlink=&sharelink=&albums=" width="220" height="220"  wmode="transparent"  allowScriptAccess="always" ></embed></object>
		</div>
		
		<ul class="thumbnails">
	    <li class="span3">
				<a href="http://www.adorama.com/?kbid=67100" class="thumbnail">
					<img src="http://www.adorama.com/artworks2/banners/affil/adorama_banner_200px_200px.jpg" border=0>
				</a>
	    </a>
	    </li>
    </ul>

	</div>
	
</div>
