<div class="hero-unit">
	<h2>Bio</h2>

	<p>I am your typical techno-geek. I absolutely love computers, programming, and photography. I received my first computer, a Commodore Vic 20, as a birthday present way back in 1981 and was hooked. Around the same time I became interested in photography when a friend's dad introduced me to his darkroom and a spare camera. By the time I graduated high school in 1983 I had already won several photography awards and had a program published in Compute magazine. In 2005 I purchased my first digital camera, a Nikon D200, and was able to combine my two passions. Today I spend my time writing enterprise class software and data driven web applications for whoever will let me, and taking photographs at every available opportunity. If you happen to have a programming or photography problem that needs to be solved, don't hesitate to <%= link_to "contact me", contact_path %>.</p>
		
	<p>You can follow me on
		<%= link_to "Facebook", "http://www.facebook.com/profile.php?id=100000080021994", :target => "_blank" %>,
		<%= link_to "Twitter", "https://twitter.com/JeffBarriault", :target => "_blank" %>, 
		and <%= link_to "LinkedIn", "http://www.linkedin.com/pub/jeff-barriault/46/7/97", :target => "_blank" %>.</p>

		<h2>Website</h2>

		<p>This website was built using <%= link_to "Ruby on Rails", "http://rubyonrails.org/", :target => "_blank" %> and is hosted on <%= link_to "Heroku", "http://www.heroku.com/", :target => "_blank" %>. This source code for this web site is available in on <%= link_to "GitHub", "https://github.com/barriault/BarriaultPhotography" %>. It is intended to be used as an example Rails app, so feel free to copy bits of it for your own project. If you would like to use it as a starting point for your own site please <%= link_to "contact me", contact_path %>.</p>
		
</div>
